.section {
    padding: 140px 0 410px;
}

.container {
    max-width: 1580px;
    width: 100%;
    padding-inline: 20px;
    margin: 0 auto;
}

.storeGrid {
    display: flex;
    flex-direction: column;
    gap: 60px;
}