
.containerSecondaryHeader {
display: flex;
flex-direction: row;
 position: relative;
max-width: 100%;
      border: 1px 0px 0px 0px;
      background: rgba(30, 30, 30, 1);
      padding: 20px;

}

.firstTabLeftSide {
  display: flex;
  flex-direction: column;
  gap: 66px;
}

.secondTabList{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 24px;

 @media screen and (max-width: 1200px) {
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
 }

  @media screen and (max-width: 720px) {
   grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(4, 1fr);
 }

}

.firstTab {
  display: flex;
  gap: 40px;
  padding: 60px 0 155px;
}

.step1{
    
    height: 260px;
    background: rgba(30, 30, 30, 1);
    position: relative;
}

.container {
    max-width: 1956px;
    margin: 0 auto;
padding-inline: 20px;
}

.secondTabSection {
  padding: 100px 0 350px;
}
p.WeARE{
  
font-family: Gilroy;
font-size: 50px;
font-weight: 300;
line-height: 57.65px;
text-align: left;
}

p.inf{
    
    font-family: Gilroy;
    font-size: 60px;
    font-weight: 600;
    line-height: 59.65px;
    text-align: left;
  
}
p.WeBelive{
    
font-family: Gilroy;
font-size: 35px;
font-weight: 300;
line-height: 40.35px;
text-align: left;
}


.listSubtitles {
width: 145px;
font-family: Gilroy;
font-weight: 700;
font-size: 60px;
color: #000;
line-height: 51.88px;
text-align: left;
margin-bottom: 22px;
}


a.Generate{
    
    height: 62px;
    top: 25px;
    left: 35px;
    font-family: Gilroy;
font-size: 45px;
font-weight: 300;
line-height: 51.88px;
text-align: left;
position: absolute;
color: #ffffff
}
a.Create{

position: absolute;
width: 145px;
height: 52px;
top: 95px;
left: 400px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 45px;
font-weight: 300;
line-height: 51.88px;
text-align: left;

color: #ffffff
}
a.Publicate{
    position: absolute;
    
    height: 52px;
    top: 180px;
    left: 750px;
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 45px;
font-weight: 300;
line-height: 51.88px;
text-align: left;


color: #ffffff
}


.thirdTabSec {
  padding: 140px 0 440px;
  max-width: 923px;
}


.title {
  font-size: 100px;
  font-weight: 600;
color: #000;
@media screen and ( max-width: 720px) {
    font-size: 60px;
}}

.title span {
font-weight: 300;
font-size: 40px;


}

.subtitle {
  padding-left: 120px;
  font-weight: 500;
font-size: 62px;
color: #000;
margin-bottom: 24px;

@media screen and ( max-width: 720px) {
  padding-left: 40px;
  font-size: 42px;
}
}

.description {
  padding-left: 120px;
  font-weight: 400;
font-size: 45px;
text-align: left;
@media screen and ( max-width: 720px) {
  padding-left: 40px;
}
}



.forthTabSec {
  padding: 56px 0 200px;
}

.fifthTabSec {
  padding: 200px 0 360px;
  text-align: center;
}
.MakeyourChoice{
    font-family: Gilroy;
font-size: 72px;
font-weight: 500;
line-height: 84.74px;
color:rgba(0, 0, 0, 1);
text-align: center;
}

p.DoYouWant{

font-family: Gilroy;
font-size: 35px;
font-weight: 550;
line-height: 49.4px;
text-align: left;
color:rgba(0, 0, 0, 1);
margin-bottom: 68px;
}


.DoYouWant .OtherWise{
font-family: Gilroy;
font-size: 30px;
font-weight: 150;
line-height: 34.41px;
text-align: left;
color:rgba(0, 0, 0, 1);
}

.orderedList {
  display: flex;
  flex-direction: column;
  gap: 70px
}

li.point1{
font-family: Gilroy;
font-size: 32px;
font-weight: 400;
line-height: 37.12px;
text-align: left;
color: rgba(0, 0, 0, 1);

}

p.Choose{
  
font-family: Gilroy;
font-size: 50px;
font-weight: 300;
line-height: 57.65px;
color:rgba(0, 0, 0, 1);
text-align: center;
}

h1.welInf{
  
font-family: Gilroy;
font-size: 90px;
font-weight: 600;
line-height: 107.37px;
color:rgba(0, 0, 0, 1);
text-align: center;
max-width: 580px;
margin: 0 auto;
}

.ChooseTheBest {
  font-weight: 400;
font-size: 60px;
color: #000;
text-align: center;
}

  .InfinityStore2{
    display: block;
    
  padding-inline: 8px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.02px;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    background-color:rgba(30, 30, 30, 1);
    color:white;

    }

.OurCompany1{
   
  height: 28px;
   gap: 0px;
  opacity: 0px;

  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;
 color: rgba(255, 255, 255, 1);

  

    }
    .OurProduct1{
       
        height: 28px;
                     gap: 0px;
        opacity: 0px;
        font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.84px;
    text-align: left;
    color: rgba(154, 154, 154, 1);
  
    background-color: rgba(30, 30, 30, 1);
  }
    .WorkingWithUs1{
       
    height: 28px;
         gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.84px;
    text-align: left;
  
    color: rgba(154, 154, 154, 1);
    }  
    .Projectpublication1{
        
        height: 28px;
             
        gap: 0px;
        opacity: 0px;
        font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.84px;
    text-align: left;
  
    color: rgba(154, 154, 154, 1);
    }
    .ChooseUs1{
       
    height: 28px;
  
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.84px;
    text-align: left;
  
    color: rgba(154, 154, 154, 1);
    }
    .container1{
      
    height: 100px;
  
        gap: 0px;
    opacity: 0px;
    background: rgba(30, 30, 30, 1);
    color: rgba(154, 154, 154, 1);
  
    }  
    .InfinityStore1{
        
    height: 59px;
        gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.02px;
    text-align: left;
    
  
    background-color: rgba(30, 30, 30, 1);
    color:white;
    
    }
    .container2{
      
      height: 100px;
    
            gap: 0px;
      opacity: 0px;
      
      border: 1px 0px 0px 0px;
      
    
      background: rgba(30, 30, 30, 1);
  }
  .container3{
    
  height: 100px;

    gap: 0px;
  opacity: 0px;
  background: rgba(30, 30, 30, 1);
  

  }
  .container4{
    
  height: 100px;

    gap: 0px;
  opacity: 0px;
  background: rgba(30, 30, 30, 1);
  

  }
  .container5{
    
  height: 100px;

    gap: 0px;
  opacity: 0px;
  background: rgba(30, 30, 30, 1);
  

  }

  .InfinityStore3{
    
  height: 59px;
   gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.02px;
  text-align: left;
  background: rgba(255, 255, 255, 1);

  background-color:rgba(30, 30, 30, 1);
  color:white;
  }
  .InfinityStore4{
    
    height: 59px;
         gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.02px;
    text-align: left;
    background: rgba(255, 255, 255, 1);
  
    background-color:rgba(30, 30, 30, 1);
    color:white;
    }
  .InfinityStore5{
    
  height: 59px;
   gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.02px;
  text-align: left;
  background: rgba(255, 255, 255, 1);

  background-color:rgba(30, 30, 30, 1);
  color:white;
  
  
  }
  .OurCompany2{
   
  height: 28px;
   gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;
  color: rgba(154, 154, 154, 1);

    }
    .OurCompany3{
     
    height: 28px;
         gap: 0px;
    opacity: 0px;
  
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.84px;
    text-align: left;
    color: rgba(154, 154, 154, 1);
      }
      .OurCompany4{
       
      height: 28px;
               gap: 0px;
      opacity: 0px;
    
      font-family: Gilroy;
      font-size: 24px;
      font-weight: 400;
      line-height: 27.84px;
      text-align: left;
      color: rgba(154, 154, 154, 1);
        }
  .OurCompany5{
         
        height: 28px;
                     gap: 0px;
        opacity: 0px;
      
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 400;
        line-height: 27.84px;
        text-align: left;
        color: rgba(154, 154, 154, 1);
   }
   .OurProduct2{
   
    height: 28px;
    
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;
  color: rgb(255, 255, 255);
  }
  .OurProduct3{
   
    height: 28px;
         gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;
  color: rgba(154, 154, 154, 1);

  }
  .OurProduct4{
   
    height: 28px;
         gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;
  color: rgba(154, 154, 154, 1);

  }
  .OurProduct5{
   
    height: 28px;
         gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;
  color: rgba(154, 154, 154, 1);

  }
  .WorkingWithUs2{
   
  height: 28px;
   gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
  }
  .WorkingWithUs3{
   
  height: 28px;
   gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgb(255, 255, 255);
  }
  .WorkingWithUs4{
   
  height: 28px;
   gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
  }
  .WorkingWithUs5{
   
  height: 28px;
   gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
  }
     .Projectpublication2{
    
    height: 28px;
     
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
  }
  .Projectpublication3{
    
    height: 28px;
     
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
  }
  .Projectpublication4{
    
    height: 28px;
     
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgb(255, 255, 255);
  }
       .Projectpublication5{
    
    height: 28px;
     
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
      }
      .ChooseUs2{
       
    height: 28px;
  
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.84px;
    text-align: left;
  
    color: rgba(154, 154, 154, 1);
    }
    .ChooseUs3{
     
  height: 28px;left: 1513px;
  gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
  }
  .ChooseUs4{
   
  height: 28px;left: 1513px;
  gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgba(154, 154, 154, 1);
  }
  .ChooseUs5{
   
  height: 28px;left: 1513px;
  gap: 0px;
  opacity: 0px;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 400;
  line-height: 27.84px;
  text-align: left;

  color: rgb(255, 255, 255);
  }


p.ThereIsNoPlatform{
    
  
       gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 38px;
font-weight: 300;
line-height: 40.35px;
text-align: left;

  
}

h1.Create{
    
    height: 73px;
  
        gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 40px;
font-weight: 700;
line-height: 72.54px;
text-align: left;
}
h1.Publish{
  
    
height: 73px;
left: 567px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 40px;
font-weight: 700;
line-height: 72.54px;
text-align: left;

}
h1.Analyze{
    
    height: 73px;
  
    
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 40px;
font-weight: 700;
line-height: 72.54px;
text-align: left;

}
h1.Better{
    
    height: 73px;
  
    
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 40px;
font-weight: 700;
line-height: 72.54px;
text-align: left;
}
p.text1{
    
  
        gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 40px;
font-weight: 400;
line-height: 46.4px;
text-align: left;
color: rgba(0, 0, 0, 1);
}
p.text2{
    
    height: 410px;
  
        gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 40px;
font-weight: 400;
line-height: 46.4px;
text-align: left;
color: rgba(0, 0, 0, 1);
}
p.text3{
    
    height: 419px;
  
    
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 40px;
font-weight: 400;
line-height: 46.4px;
text-align: left;
color: rgba(0, 0, 0, 1);
}
p.text4{
    
    height: 429px;
  
    
    gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 40px;
font-weight: 400;
line-height: 46.4px;
text-align: left;
color: rgba(0, 0, 0, 1);

}
a.NFP{
    
height: 12px;left: 2px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 10px;
font-weight: 300;
line-height: 13.84px;
text-align: left;
color: rgba(0, 0, 0, 1);
background: rgb(235, 221, 234);

}


li.point2{
    
    height: 39px;
  
       gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 32px;
font-weight: 400;
line-height: 37.12px;
text-align: left;
color: rgba(0, 0, 0, 1);
}
li.point3{
    
    height: 37px;
  
       gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 32px;
font-weight: 400;
line-height: 37.12px;
text-align: left;
color: rgba(0, 0, 0, 1);
}
li.point4{
    
    height: 37px;
  
       gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 32px;
font-weight: 400;
line-height: 37.12px;
text-align: left;
color: rgba(0, 0, 0, 1);
}
li.point5{
    
    height: 37px;
  
       gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 32px;
font-weight: 400;
line-height: 37.12px;
text-align: left;
color: rgba(0, 0, 0, 1);
}
.WelcomeSelection{
    
height: 403px;left: 659px;
gap: 0px;
opacity: 0px;
}

h2.Choose{
  
    
height: 70px;left: 721px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 60px;
font-weight: 400;
line-height: 69.6px;
text-align: left;
color:rgba(0, 0, 0, 1);
text-align: center;

}


div.end{
  
   
height: 59px;
left: 31px;
gap: 0px;
opacity: 0px;

color: #ffffff

}

nav.Pag1 {
    
height: 100px;left: -17px;
gap: 0px;
opacity: 0px;
background: rgba(30, 30, 30, 1);
}
.InfinityStore{
    
height: 59px;left: 48px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 24px;
font-weight: 700;
line-height: 29.02px;
text-align: left;

background-color: rgba(30, 30, 30, 1);
color: rgb(255, 255, 255);


}
.s-a{
    
height: 34px;left: 25px;
gap: 0px;
border-radius: 25px 0px 0px 0px;
opacity: 0px;
}
.Store{
    height: 26px;
    left: 281px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 22px;
font-weight: 400;
line-height: 25.52px;
text-align: left;
color: rgba(154, 154, 154, 1);
background-color: rgba(30, 30, 30, 1);

}
.Community{
  
    
height: 26px;left: 399px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 22px;
font-weight: 400;
line-height: 25.52px;
text-align: left;
color: rgba(154, 154, 154, 1);
background-color: rgba(30, 30, 30, 1);
}
.NewsEvents{
    
height: 26px;left: 580px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 22px;
font-weight: 400;
line-height: 25.52px;
text-align: left;
color: rgba(154, 154, 154, 1);
background-color: rgba(30, 30, 30, 1);
}
.Support{
    height: 26px;left: 790px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 22px;
font-weight: 400;
line-height: 25.52px;
background-color: rgba(30, 30, 30, 1);
text-align: left;
color: rgba(154, 154, 154, 1);

}
.AboutUs{

 height: 26px;left: 937px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 22px;
font-weight: 400;
line-height: 25.52px;
text-align: left;
color: rgba(255, 255, 255, 1);
background-color: rgba(30, 30, 30, 1);

}
.search{
    background-color: rgba(30, 30, 30, 1);
width: 260px;
height: 40px;left: 1437px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 22px;
font-weight: 400;
line-height: 25.52px;
text-align: left;
background: rgba(255, 255, 255, 1);

}
.lookfor{
    
height: 230px;left: 1622px;
gap: 0px;
opacity: 0px;
}
.iconChangeLanguages{
        height: 70px;
     
    gap: 0px;
    opacity: 0px;
  

}
.iconProfile{
        height: 50px;
     
    gap: 0px;
    opacity: 0px;
  

}
a:link{

  text-decoration: none;
  
}
.Welcome-inf{
    
height: 294px;left: 674px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 95px;
font-weight: 700;
line-height: 132.99px;
text-align: left;
font-family: Gilroy;
text-align: center;



}
.Welcome-first{
    
    height: 24px;
          gap: 0px;
    opacity: 0px;
    font-family: Gilroy;
font-size: 21px;
font-weight: 300;
line-height: 24.21px;
text-align: left;



}
.Welcome-to{
    
height: 52px;left: 858px;
gap: 0px;
opacity: 0px;
font-family: Gilroy;
font-size: 45px;
font-weight: 300;
line-height: 51.88px;
text-align: left;


}


