.line {
    width: 100%;
overflow: hidden;

}

.subtitle {
    font-weight: 400;
font-size: 40px;
color: #000;
margin-bottom: 26px;
}

.itemsList {
    display: flex;
 gap: 20px;   
     overflow: auto;
}